<!doctype html>
<html lang="en">
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Twitter Sentiment Analysis</title>
</head>


<form action="{{ url_for('index') }}" method="POST">
    <legend>Enter Mobile Review:</legend>
    <label for="tweet">Enter Tweet:</label><br>
    <textarea class='message-box' name="message" rows="15" cols="75" placeholder="Enter Your Message Here... (ex: This is a bad electronic)"></textarea><br/>
    <input type="text" id="tweet" name="tweet"><br>
    <input type="submit">
</form>
<br>
<div class="result" align="center">
    {% if result == 0 %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> 
    
    {% elif result == 1 %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> 
    {% endif %}
</div>
</html>